.btnFullscreen{
    position: fixed;
    right: 1em;
    bottom: 1em;
    z-index: 9999;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: .4em;
    border-radius: 50em;
    color: white;
    border: none;
}